.landingimage{
    background-image: url('../assets/landing.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titleHeadline{
    text-align: center;
    background-color: rgba(155, 191, 203, 0.896);
    width: 400px;
    height: 200px;
}