.cardWrapper {
  position: relative;
  display: inline-block;
}

.heart {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1; /* Ensure it is on top of the image */
  cursor: pointer;
}

.cardWrapper img {
  display: block; /* To ensure proper alignment */
}
