.reviewForm {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
form * {
  display: block;
  width: 30vw;
}
input{
  height: 30px;
}
textarea{
  height: 70px;
}
button{
  margin-top: 30px;
  background-color: goldenrod;
}
.errorMsg {
  color: red;
}
.feedbackText{
  width: 30vw;
}